
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  height: 100vh;
  background:url("https://img.freepik.com/vector-premium/globo-hecho-banderas-sobre-fondo-mapa-mundo_259139-1414.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --background: #fff;
  --container-primary: #ffffff;
  --container: #252222;
  --border: #2A3B47;
  --text-secondary: #FF3B3F;
  --main: #838383;
  --text-primary: #000;
  --accent: #52A5E0;
  --shadow: rgba(15, 15, 15, 0.404);
  --contrast: #06314cca;
  --contrastV2: #372838b7;
}