@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');

.hero{
    
    background-position: 80% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}
.nav{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 8rem;
    margin-left: 100px;
    margin-right:70px ;
    padding: 1px;
}
.input{
    border-radius: 15px;
    height: 3rem;
    width: 40rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.input:hover{
    background-color: rgb(248, 255, 255);
}
.btnSch{
    border-radius: 10px;
    cursor: pointer;
    height: 3rem;
    margin-top: 3px;
    
}
.btnSch:hover{
    background-color: rgb(110, 156, 255);
    transition: 700ms;
}
.btnCrt{
    background-color: rgb(90, 228, 247);
    border-radius: px;
    color:rgb(30, 30, 31);
    cursor: pointer;
    float: right;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 100;
    height: 2rem;
    margin-right: 40rem;
    margin-top: 5rem;
}
.btnCrt:hover{
    background-color: rgb(210, 249, 252);
    transition: 700ms;

}
@media (max-width: 600px) {
    .btnCrt{
        width: max-content;
        position: absolute;
        top: 10%;
        left: 35%;
    }
    .nav{
        padding-left: 9%;
        margin-left: 500px;
        margin-right:70px ;
        padding: 1px;
    }
}
.searcher{
    margin-top: 5rem;
    
}